:root {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f5f9fd;
  height: 100%;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --view-scheme-main: white;
  --view-scheme-inverse: black;
  --primary-color: #3477db;
  --primary-color-hover: #2980b9;
  --secondary-color: #582ecc;
  --background-color: #f5f5f5;
  --link-color: #646cff;
  --link-color-hover: #535bf2;
  --text-color: #333333;
  --text-background-color: #f5f9fd;
  --error-color: #e74c3c;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure the parent elements have 100% height */
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--link-color-hover);
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: white;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #f5f9fd;
    height: 100%;
  }
}